<div class="container mt-3">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="titulo contadorPregunta">12</h1>
    </div>
    <div class="row mt-2">
        <div class="text-center">
            <h3 class="titulo">Titulo cuestionario</h3>
            <div class="col-lg-6 offset-lg-3">
                <ul class="list-group mt-3">
                    <li class="list-group-item animate__animated animate__fadeIn">Respuesta 1</li>
                    <li class="list-group-item animate__animated animate__fadeIn classSeleccionada">Respuesta 2</li>
                    <li class="list-group-item animate__animated animate__fadeIn">Respuesta 3</li>
                    <li class="list-group-item animate__animated animate__fadeIn">Respuesta 4</li>
                </ul>
                <button class="btn btn-principal btn-aceptar mt-3">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>